.nav-icon {
    position: fixed;
    top: 2%;
    right: 5%;
    font-size: 40px;
}

.navigation {
    color: white;
    position: absolute;
    top: 4%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.navigation ul {
    display: none
}

.intro-container {
  text-align: center;
  margin-top:10%;
}

.navigation  a{
    color:black;
    padding:1%;
    display:block;

}
