
.navigation ul {
  margin:0.5% 5%;
  text-align: center;


}
.navigation ul li:hover{
background-color: rgba(29, 29, 29, 0.42);
}



.navigation a:hover{
  color:white;


}


.full-name{
  font-size: 20px;
}


.hello{
  font-size: 30px;
}

.titles{
  text-align: center;
  margin:20% 0 10% 0;
}
/*.image-portfolio {
  max-width:50%;
}*/

.projects-container{
  text-align: center;
}

.buttons-container{
  text-align: center;
  margin-bottom: 6%;

}
